.container {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-col {
  margin-top: 5em;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  background: #1F1F1F;
}

.card-row{
  width: 95%;
  margin-top: 2em;
}


.funds-text {
  display: flex;
  justify-content: center;
  color: #33d788;
}

.available-text {
  display: flex;
  justify-content: center;
}

.buttons-row {
  width: 90%;
  margin-top: 5em;
  justify-content: space-between;
}

.buttons-row .col{
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.btn {
  border-radius: 0.5em;
  color: black;
  background: #33D788;
  height: 4em;
  width: 100%;
}

.buttons-row i {
  font-size: 2em;
}


