<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">

  <div class="row-12">
    <div class="col welcome-col">
      <h3>Hello, user!</h3>
    </div>
  </div>


  <div class="row card-row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1 class="card-text funds-text">€ 2873.53</h1>
          <h6 class="text-muted available-text">Available</h6>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="fab-container">
  <button routerLink="/payment" class="btn btn-primary fab-add-payment">
    <img src="/assets/send.svg" />
  </button>
  <button class="btn btn-primary fab-receive-payment">
    <img src="/assets/request.svg" />
  </button>
  <button (click)="toggleFab($event)" class="btn btn-primary fab-main">
    <i class="fa fa-plus"></i>
  </button>
</div>

<nav class="navbar my-bottom-nav fixed-bottom navbar-dark bg-primary">
  <button routerLink="/contacts" class="btn bottom-nav-button"><i class="fa fa-address-book-o" aria-hidden="true"></i>
    Contacts
  </button>

  <button routerLink="/payments" class="btn bottom-nav-button"><i class="fa fa-book" aria-hidden="true"></i>
    Payment history
  </button>

</nav>
