<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">

  <nav class="navbar navbar-dark fixed-top my-nav" *ngIf="isLandingPage">

    <i class="fa fa-sign-out" aria-hidden="true" routerLink="/auth"></i>
    <h3>{{pageTitle}}</h3>
  </nav>

  <nav class="navbar navbar-dark fixed-top my-nav" *ngIf="isAuthPage">
    <h3>{{pageTitle}}</h3>
  </nav>

  <nav class="navbar navbar-dark fixed-top my-nav" *ngIf="!isLandingPage && !isAuthPage">

    <i class="fa fa-angle-left" aria-hidden="true" (click)="goBack()"></i>
    <h3>{{pageTitle}}</h3>
  </nav>
</div>
