<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">
  <div class="row" *ngFor="let contact of contacts">
    <div class="col">

      <div class="card my-contact-card">
        <div class="card-body">
          <div class="contact-edit">
            <h5 class="card-title">{{contact.name}}</h5>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </div>

          <h6 class="card-subtitle mb-2 text-muted">{{contact.email}}</h6>
          <div class="card-action-buttons">
            <button class="btn btn-primary"><i class="fa fa-paper-plane-o"></i> Send</button>
            <button class="btn btn-success"><i class="fa fa-credit-card"></i> Request</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="btn-group-fab" role="group" aria-label="FAB Menu">
  <div>
    <button type="button" class="btn btn-main btn-primary has-tooltip" data-placement="left" title="Menu"><i
      class="fa fa-plus"></i></button>
  </div>
</div>


