.my-transaction-card{
  margin-bottom: 1em;
}
.sent-amount{
  color: #c61212;
}
.received-amount{
   color: #33D788;
 }
.my-card-footer{
  display: flex;
  justify-content: space-between;
}
.search-form-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.search-form-container input{
  width:100%;
  border: 4px solid #1F1F1F !important;
}
.search-form-container input::placeholder{
  color: #c4c4c4 !important;
}
