.fa, .fas {
    width: 1rem;
    height: 1rem;
    color: black;
    display: block;
}

a[ngbNavLink] {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.row {
    display: flex;
}

#accordion {
    margin-bottom: 1rem;
}

.fa-calendar{
    color: white;
}

#currency {
    background: black;
    color: white;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    border: 1px solid #495057!important;
}