.container {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-col {
  margin-top: 5em;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  background: #1F1F1F;
}

.card-row{
  width: 95%;
  margin-top: 2em;
}


.funds-text {
  display: flex;
  justify-content: center;
  color: #33d788;
}

.available-text {
  display: flex;
  justify-content: center;
}

.buttons-row {
  margin-top: 5em;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.buttons-row .col{
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  label {
    color: white;
  }
}

.btn {
  border-radius: 0.5em;
  color: black;
  height: 4em;
  width: 100%;
}

.buttons-row i {
  font-size: 2em;
  z-index: 0 !important;
}

.fab-container {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  z-index: 2;
  .btn {
    border-radius: 100%;
    display: none;
    height: 3rem;
    width: 3rem;
    padding: 0.3rem;
    color: white;
    &:active {
      border: none!important;
      box-shadow: none!important;
    }
    &:focus {
      border: none!important;
      box-shadow: none!important;
    }
  }
  .fab-main{
    &:active {
      border: none!important;
      box-shadow: none!important;
    }
    &:focus {
      border: none!important;
      box-shadow: none!important;
    }
    border: 1px solid black!important;
    display: inline-block;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    order: 1;
    i {
      font-size: 2rem;
      color: white;
    }
  }
  &.open {
    .btn {
      display: inline-block;
    }
  }
}

.send {
  height: 100%;
  width: 100%;
  background: white;
  -webkit-mask-image: url(/assets/send.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(/assets/send.svg);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.receive {
  height: 100%;
  width: 100%;
  background: white;
  -webkit-mask-image: url(/assets/request.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(/assets/request.svg);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}
